<!doctype html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/quiz.css' %}">
      <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous">
    <!--Font Link-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-W2gwaIkF2h/nQ84Kyi3RbYNTQEZ3OBvo+qr8eGQW4eDz9t8i9VzRkmSgfiE28f3IdtzoWYqZaO6/oM6vOxq0gA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <title>{% block title %} {% endblock %}</title>
</head>
<body>



<div style="margin-top: calc(3.5rem + 80px);"> <!-- 3.5rem est la hauteur estimée de votre navbar, 16px est un exemple de marge que vous pouvez ajuster -->
</div>
    <!-- header  -->
    <header>
        <!-- menu responsive -->

        <div class="menu_toggle">
            <span></span>
        </div>

        <div class="logo">
            <a class="btn" href="{% url 'home' %}"><img id="logo" src="{% static 'app/images/logo.png' %}" style="height:50px;">
</a>

<!--            <p><span>Logo</span>Logo</p>-->
        </div>
        <ul class="menu">
            <li ><a href="{% url 'all_actualites' %}" class="btn">Conseil de securité</a></li>
            <li><a href="{% url 'all_actualites' %}"   class="btn">Actualités et tendance</a></li>
            <li><a href="{% url 'display_quiz' %}"   class="btn">Quizz </a></li>
            <li><a href="{% url 'all_ressources' %}"   class="btn">Ressources</a></li>
            <li class=""><a href="#" class="btn">Contact</a></li>
        </ul>
    </header>


    <!-- section Acceuil -->
<div class="container">
    {% block content %}

{% endblock %}

</div>



{% block footer %}
<!--    <footer class="mt-5">-->
<!--        <p> Mars 2024 All Rights Reserved. CIL </p>-->
<!--    </footer>-->
    <footer style=" background-image: linear-gradient(to right top, #fffd00, #eaf900, #d4f500, #bef006, #a8eb12);" class="text-dark mt-5">
        <p> © CIL Mars 2024 All Rights Reserved. <span style="" class="bg-danger text-white p-2"> N° Ver: 80 00 13 00 </span> </p>
    </footer>

{% endblock %}
<!-- Back to Top -->
<a href="#" class="btn btn-warning border-3 border-warning py-2 text-dark px-1 rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>

<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
<script src="{% static 'app/js/bootstrap.js' %}"></script>
<script src="{% static 'app/js/script.js' %}"></script>
<!-- Intégration de jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>