{% extends 'app/base.html' %}

{% block content %}
{% load static %}


{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Détails du Quiz</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>

    <h1>{{ quiz.titre }}</h1>
    <p>{{ quiz.description }}</p>
    <h2>Questions:</h2>
    {% for question in quiz.questions.all %}
        <form id="form_{{ question.id }}">
            <p>{{ question.enonce }}</p>
            <input type="radio" name="choice" value="1">1. {{ question.choix_1 }}<br>
            <input type="radio" name="choice" value="2">2. {{ question.choix_2 }}<br>
            <input type="radio" name="choice" value="3">3. {{ question.choix_3 }}<br>
            <input type="radio" name="choice" value="4">4. {{ question.choix_4 }}<br>
            <div class="hidden" id="answer_{{ question.id }}">La réponse correcte est: {{ question.reponse_correcte }}</div>
            <div class="hidden" id="result_{{ question.id }}"></div>
            <button type="button" onclick="showAnswer({{ question.id }})">Soumettre</button>
        </form>
    {% endfor %}

    <!-- JavaScript pour afficher la réponse -->
    <script>
        function showAnswer(questionId) {
            var answerDiv = document.getElementById('answer_' + questionId);
            var resultDiv = document.getElementById('result_' + questionId);
            var choice = document.querySelector('input[name="choice"]:checked');
            if (!choice) {
                resultDiv.innerText = "Veuillez sélectionner une réponse.";
                resultDiv.style.color = "red";
            } else {
                var selectedChoice = parseInt(choice.value);
                var correctAnswer = parseInt(answerDiv.innerText.split(":")[1].trim());
                if (selectedChoice === correctAnswer) {
                    resultDiv.innerText = "Votre réponse est correcte!";
                    resultDiv.style.color = "green";
                } else {
                    resultDiv.innerText = "Votre réponse est incorrecte.";
                    resultDiv.style.color = "red";
                    answerDiv.style.display = 'block';
                }
            }
            resultDiv.style.display = 'block';
        }
    </script>

{% endblock %}
